---
import { getCollection, render } from "astro:content";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import Prose from "../../components/Prose.astro";
import Base from "../../layouts/Base.astro";

export async function getStaticPaths() {
    const posts = (await getCollection("blog")).filter(
        (post) => post.data.draft !== true,
    );
    return posts.map((post) => ({
        params: { slug: post.id },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const breadcrumbs = post.id
    .split("/")
    .filter((segment) => segment)
    .map((segment) => {
        return { label: segment, fragment: segment };
    });
---

<Base>
    <div class="m-auto max-w-2xl">
        <Breadcrumbs baseUrl="/posts" breadcrumbs={[...breadcrumbs]} />
        <Prose
            ><h1 class="mt-2 text-dark">
                {post.data.title ?? post.id.split("/").pop()}
            </h1><Content /></Prose
        >
    </div>
</Base>
