@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --color-*: initial;

    --color-primary: oklch(0.58 0.16 304.16);
    --color-secondary: oklch(0.64 0.15 350);
    --color-light: oklch(0.98 0.0166380643126323 334.6067525190699);
    --color-light-gray: oklch(0.92 0.02 325);
    --color-gray: oklch(0.75 0.02 325);
    --color-dark-gray: oklch(0.45 0.02 325);
    --color-dark: oklch(0.19 0.0268 323.48);
}

@layer base {
    @variant dark {
        --color-light: oklch(0.19 0.0268 323.48);
        --color-light-gray: oklch(0.35 0.02 325);
        --color-gray: oklch(0.55 0.02 325);
        --color-dark-gray: oklch(0.85 0.02 325);
        --color-dark: oklch(0.98 0.0166380643126323 334.6067525190699);
    }

    ::-moz-selection {
        background-color: color-mix(
            in oklch,
            var(--color-secondary) 60%,
            #fff0
        );
    }

    ::selection {
        background-color: color-mix(
            in oklch,
            var(--color-secondary) 60%,
            #fff0
        );
    }
}

@theme {
    --font-sans: "Fira Sans", sans-serif;
    --font-mono: "Fira Code Variable", monospace;
    --font-serif: "Lora Variable", serif;
}
