---
import Layout from "../layouts/Base.astro";
---

<Layout>
    <div class="text-dark max-w-150 m-auto font-serif">
        <h1 class="text-3xl font-semibold mb-6">Abhi Agarwal</h1>
        <div class="text-base/6">
            <p>
                Howdy! I'm Abhi, and I build things and now try to write about
                them.
            </p>
            <p>Some things about me:</p>
            <ul class="list-disc list-outside ps-6 py-3">
                <li>
                    I was born in Texas, lived in Minnesota for 10 years, then
                    moved to northern mass. I now live in Cambridge, MA.
                </li>
                <li>
                    I first learned how to code at the age of 12, when I was
                    taught C++ by a family friend. It was such a terrible
                    experience that I didn't touch programming for another
                    decade. Who expects a 12 year old to understand pointers!!
                </li>
                <li>
                    I graduated from Bates College in Lewiston, Maine, where I
                    spent my undergrad studying math, economics, and physics.
                </li>
                <li>
                    I watch a lot of professional Basketball, and am a diehard
                    Boston Celtics fan. I'm a part-time Connecticut Sun fan,
                    too.
                </li>
                <li>I have two kittens that I adore. <a>Cat tax</a>!</li>
                <li>
                    I consider myself a true full-stack engineer — I do
                    frontend, backend, devops, and cloud stuff! Jack of all
                    trades, alright at a few?
                </li>
            </ul>
            <p>
                You can email me at hey@$&#123;this_domain&#125;. My resume is
                on
                <a
                    class="font-semibold"
                    href="https://www.linkedin.com/in/abhiaagarwal/">Linkedin</a
                >.
            </p>
        </div>
    </div>
</Layout>
