---
import dayjs from "dayjs";
import { blogIndex as blogIndexPromise } from "../blogIndex";
import PostListing from "../components/PostListing.astro";
import Layout from "../layouts/Base.astro";
import { feedConfigToLinks, generateFeedUrls } from "../util/feeds";

const allNodesMap = await blogIndexPromise;

const postsForHomepage = Array.from(allNodesMap.values())
    .filter(
        (node) =>
            !node.isFolder &&
            node.data?.published !== undefined &&
            node.data.kind !== undefined,
    )
    .sort((a, b) => {
        return dayjs(b.data?.published).diff(dayjs(a.data?.published));
    });

// eslint-disable-next-line @typescript-eslint/no-non-null-assertion
const siteUrl = Astro.site!.toString();
const feeds = generateFeedUrls(siteUrl);
---

<Layout
    title="Posts"
    description="Software Engineer. I build things and write about them."
    type="website"
    publishedTime={dayjs()}
    feeds={feeds}
>
    <div class="mx-auto max-w-2xl">
        <div class="mb-6 flex items-center justify-between">
            <h1 class="font-serif text-3xl font-semibold text-dark">
                Latest Posts
            </h1>
        </div>
        <PostListing nodes={postsForHomepage} />
    </div>
</Layout>
