---
import ChevronRight from "@lucide/astro/icons/chevron-right";

interface Breadcrumb {
    label: string;
    fragment: string;
    active?: boolean;
}

interface Props {
    baseUrl: string;
    breadcrumbs: Breadcrumb[];
}

const { baseUrl, breadcrumbs } = Astro.props;

const breadcrumbsWithUrls = breadcrumbs.map((crumb) => {
    const url = `${baseUrl}/${crumb.fragment}${crumb.fragment ? "/" : ""}`;
    return { ...crumb, url };
});
---

<nav
    aria-label="Breadcrumb"
    class="font-sans text-sm font-medium text-dark-gray"
>
    <ol class="flex flex-wrap items-center align-middle">
        {
            breadcrumbsWithUrls.map((crumb) => (
                <li class="flex items-center">
                    <ChevronRight class="size-4" />
                    <a
                        href={crumb.url}
                        class:list={[
                            crumb.active && "font-semibold text-primary",
                        ]}
                    >
                        {crumb.label}
                    </a>
                </li>
            ))
        }
    </ol>
</nav>
