---
import dayjs, { type Dayjs } from "dayjs";
import advancedFormat from "dayjs/plugin/advancedFormat";
import timezone from "dayjs/plugin/timezone";
import utc from "dayjs/plugin/utc";

dayjs.extend(utc);
dayjs.extend(timezone);
dayjs.extend(advancedFormat);

interface Props {
    createdTime: Dayjs;
    lastModified?: Dayjs;
}

const { createdTime, lastModified } = Astro.props;

const formattedCreatedTime = createdTime.format("MMMM D, YYYY");
const formattedLastModified = lastModified
    ? lastModified.format("MMMM D, YYYY")
    : null;

const fullCreatedTime = createdTime.format("MMMM D, YYYY [at] h:mm A z");
const fullLastModified = lastModified
    ? lastModified.format("MMMM D, YYYY [at] h:mm A z")
    : null;

const showLastModified =
    formattedLastModified && formattedLastModified !== formattedCreatedTime;
---

<>
    <span class="text-dark-gray" title={fullCreatedTime}>
        {formattedCreatedTime}
    </span>
    {
        showLastModified && (
            <span class="text-gray" title={fullLastModified}>
                {formattedLastModified}
            </span>
        )
    }
</>
