@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --default-transition-duration: 250ms;

    --color-primary: oklch(0.4671 0.1917 355.16);
    --color-light: oklch(0.973 0.007 324.6);
    --color-light-gray: oklch(0.88 0.01 0);
    --color-gray: oklch(0.75 0.02 325);
    --color-dark-gray: oklch(0.28 0.01 324.99);
    --color-dark: oklch(0.15 0.03 301.01);
}

@layer base {
    @variant dark {
        --color-primary: oklch(0.74 0.145 350);
        --color-light: oklch(0.205 0.02 285);
        --color-light-gray: oklch(0.285 0.018 285);
        --color-gray: oklch(0.52 0.015 285);
        --color-dark-gray: oklch(0.72 0.012 285);
        --color-dark: oklch(0.88 0.008 285);
    }

    ::-moz-selection {
        background-color: color-mix(in oklch, var(--color-primary) 60%, #fff0);
    }

    ::selection {
        background-color: color-mix(in oklch, var(--color-primary) 60%, #fff0);
    }
}

@theme inline {
    --font-sans: var(--font-open-sans);
    --font-mono: var(--font-fira-code);
    --font-serif: var(--font-lora);
}

.inline-code {
    &::before {
        content: "`";
    }

    &::after {
        content: "`";
    }
}
