@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --default-transition-duration: 250ms;

    --color-primary: oklch(0.61 0.14 309.8);
    --color-secondary: oklch(0.64 0.15 350);
    --color-light: oklch(0.973 0.007 324.6);
    --color-light-gray: oklch(0.92 0.02 325);
    --color-gray: oklch(0.75 0.02 325);
    --color-dark-gray: oklch(0.45 0.02 325);
    --color-dark: oklch(0.1596 0.0268 323.48);
}

@layer base {
    @variant dark {
        --color-light: oklch(0.1596 0.0268 323.48);
        --color-light-gray: oklch(0.35 0.02 325);
        --color-gray: oklch(0.55 0.02 325);
        --color-dark-gray: oklch(0.85 0.02 325);
        --color-dark: oklch(0.973 0.007 324.6);
    }

    ::-moz-selection {
        background-color: color-mix(
            in oklch,
            var(--color-secondary) 60%,
            #fff0
        );
    }

    ::selection {
        background-color: color-mix(
            in oklch,
            var(--color-secondary) 60%,
            #fff0
        );
    }
}

@theme inline {
    --font-sans: var(--font-open-sans);
    --font-mono: var(--font-fira-code);
    --font-serif: var(--font-lora);
}

.inline-code {
    &::before {
        content: "`";
    }

    &::after {
        content: "`";
    }
}
