---
import "@fontsource/fira-sans";
import "@fontsource-variable/lora";
import "@fontsource-variable/fira-code";
import "../styles/global.css";
import Nav from "./Nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🤠</text></svg>"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Abhi Agarwal</title>
        <script is:inline>
            const theme = localStorage.getItem("theme");
            const isDark =
                theme === "dark" ||
                ((theme === null || theme === "system") &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches);
            document.documentElement.dataset.theme = isDark ? "dark" : "light";
        </script>
    </head>
    <body class="bg-light transition-colors flex flex-col min-h-screen">
        <Nav />
        <slot />
    </body>
</html>
