---
import "@fontsource/fira-sans";
import "@fontsource-variable/lora";
import "@fontsource-variable/fira-code";
import "../styles/global.css";
import firaCode from "@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2?url";
import lora from "@fontsource-variable/lora/files/lora-latin-wght-normal.woff2?url";
import { ClientRouter, fade } from "astro:transitions";
import Footer from "./Footer.astro";
import Nav from "./Nav.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🤠</text></svg>"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Abhi Agarwal</title>
        <script>
            function applyTheme() {
                const STORAGE_KEY = "theme-preference";
                const THEMES = ["light", "dark", "system"];

                const storedPreference = localStorage.getItem(STORAGE_KEY);
                const initialPreference =
                    storedPreference && THEMES.includes(storedPreference)
                        ? storedPreference
                        : "system";

                document.documentElement.dataset.themePreference =
                    initialPreference;

                const isDark =
                    initialPreference === "dark" ||
                    (initialPreference === "system" &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches);

                document.documentElement.dataset.theme = isDark
                    ? "dark"
                    : "light";
            }
            applyTheme();
            document.addEventListener("astro:after-swap", applyTheme);
        </script>
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
            href={lora}
        />
        <link
            rel="preload"
            as="font"
            type="font/woff2"
            crossorigin="anonymous"
            href={firaCode}
        />
        <ClientRouter />
    </head>
    <body
        transition:animate={fade({ duration: "0.15s" })}
        class="bg-light transition-colors flex flex-col min-h-screen gap-4"
    >
        <Nav />
        <main class="flex-grow m-8"><slot /></main>
        <Footer />
    </body>
</html>
