---
import "../styles/global.css";
import Footer from "./Footer.astro";
import Nav from "./Nav.astro";

import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🤠</text></svg>"
        />
        <meta name="generator" content={Astro.generator} />
        <title>Abhi Agarwal</title>
        <Font cssVariable="--font-lora" preload />
        <Font cssVariable="--font-fira-code" preload />
        <Font cssVariable="--font-open-sans" preload />
        <script>
            window.THEME_KEY = "theme-preference";
            window.THEMES = ["light", "dark", "system"];

            window.applyEffectiveTheme = (theme: string) => {
                const isDark =
                    theme === "dark" ||
                    (theme === "system" &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches);
                document.documentElement.dataset.theme = isDark
                    ? "dark"
                    : "light";
            };

            window.setThemePreference = (theme: string | null) => {
                const initialPreference =
                    theme && window.THEMES.includes(theme as any)
                        ? theme
                        : "system";

                document.documentElement.dataset.themePreference =
                    initialPreference;

                window.applyEffectiveTheme(initialPreference);
            };
            const storedPreference = localStorage.getItem(window.THEME_KEY);
            window.setThemePreference(storedPreference);
        </script>
    </head>
    <body
        class="flex min-h-screen flex-col gap-4 bg-light px-4 py-2 transition-colors md:px-8 md:py-4"
    >
        <Nav />
        <main class="flex-grow"><slot /></main>
        <Footer />
    </body>
</html>
