---
import "../styles/global.css";
import Footer from "./Footer.astro";
import Nav from "./Nav.astro";

import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🤠</text></svg>"
        />
        <title>Abhi Agarwal</title>
        {/* This script was purposefully not bundled to prevent FOUC. I minified it with terser manually. Refer to util/theme-switch.ts for the source. */}
        <script is:inline>
window.THEME_KEY="theme-preference",window.THEMES=["light","dark","system"],window.applyEffectiveTheme=e=>{const t="dark"===e||"system"===e&&window.matchMedia("(prefers-color-scheme: dark)").matches;document.documentElement.dataset.theme=t?"dark":"light"},window.setThemePreference=e=>{const t=e&&window.THEMES.includes(e)?e:"system";document.documentElement.dataset.themePreference=t,window.applyEffectiveTheme(t)};const e=localStorage.getItem(window.THEME_KEY);window.setThemePreference(e)
        </script>
        <Font cssVariable="--font-lora" preload />
        <Font cssVariable="--font-fira-code" preload />
        <Font cssVariable="--font-open-sans" preload />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body
        class="flex min-h-screen flex-col gap-4 bg-light px-4 py-2 transition-colors md:px-8 md:py-4"
    >
        <Nav />
        <main class="flex-grow"><slot /></main>
        <Footer />
    </body>
</html>
