---
import Copyright from "@lucide/astro/icons/copyright";

const currentYear = new Date().getFullYear();
---

<footer class="self-end-safe text-right font-serif text-sm text-dark-gray">
    <p>
        <Copyright class="inline h-4 w-4 align-text-bottom" />
        {currentYear} Abhi Agarwal.
    </p>
    <p>Built with {Astro.generator}. <a>Open Source</a>.</p>
</footer>
