<header class="flex flex-row bg-light text-dark h-12 justify-end mx-8">
    <nav
        class="flex justify-center gap-2 items-center font-serif font-semibold text-lg text-dark"
    >
        <a href="/" class="active:text-primary">Home</a>
        <a href="/blog">Blog</a>
        <a href="/notes">Notes</a>
    </nav>
</header>
