---
import ThemeToggle from "../components/ThemeToggle.astro";
const { pathname } = Astro.url;

const links: { href: string; text: string }[] = [
    { href: "/", text: "Home" },
    { href: "/about", text: "About" },
    { href: "/explore", text: "Explore" },
];
---

<header class="flex flex-row text-dark h-12 justify-end mx-8">
    <nav
        class="flex justify-center gap-2 items-center font-serif font-semibold text-lg text-dark"
    >
        {
            links.map((link) => (
                <a
                    class:list={[
                        pathname === link.href && "text-primary",
                        "hover:text-secondary transition-colors",
                    ]}
                    href={link.href}
                >
                    {link.text}
                </a>
            ))
        }
        <ThemeToggle className="hover:text-secondary transition-colors" />
    </nav>
</header>
