---
import { Bookmark } from "@lucide/astro";
// import Search from "../components/Search.astro";
import ThemeToggle from "../components/ThemeToggle.astro";

const { pathname } = Astro.url;

const links: { href: string; text: string }[] = [
    { href: "/", text: "Home" },
    { href: "/about/", text: "About" },
    { href: "/explore/", text: "Explore" },
];
---

<header class="flex flex-row justify-end text-dark">
    <nav
        class="flex items-center justify-center gap-2 font-serif text-lg font-semibold text-dark"
    >
        {
            links.map((link) => (
                <a
                    class:list={[
                        "transition-colors hover:text-primary",
                        pathname === link.href && "text-primary",
                    ]}
                    href={link.href}
                    data-astro-prefetch
                >
                    {link.text}
                </a>
            ))
        }
        {
            (
                <a
                    id="bookmarks-button"
                    aria-label="Bookmarks"
                    href="/bookmarks/1/"
                    class:list={[
                        "relative flex h-8 w-7 cursor-pointer items-center justify-center rounded-md transition-colors hover:text-primary",
                        pathname.startsWith("/bookmarks/") && "text-primary",
                    ]}
                >
                    <Bookmark class="size-6" />
                </a>
            )
        }
        <!-- <Search className="transition-colors hover:text-primary" /> -->
        <ThemeToggle className="transition-colors hover:text-primary" />
    </nav>
</header>
